<% include ./partials/header %>
<h1> Find Friends</h1>

<%suggestions.forEach(function(suggestion) { %>
     
     <div class="row">
         <% var path = "/users/" + suggestion._id ; %>
         <div class="col-md-6">
         <li class="btn btn-default btn-lg mt-3 btn-block"><a href = "<%= path %>"><%= suggestion.firstname %><span> <%= suggestion.lastname %></span></a></li>
         </div>
         <% var path1 = "/users/" + currentUser._id + "/addfriends/" + suggestion._id; %>
         <div class="col-md-6">
         <li class="btn btn-default btn-lg  mt-3 btn-block"><a href="<%= path1 %>">Add Friend</a></li>
         </div> 
     </div>    

<% }); %>


<% include ./partials/footer %>