<% include ./partials/header %>
<h1> Friend Requests</h1>

<%friendRequests.forEach(function(request) { %>
     
     <div class = "row">
         <div class = "col-md-6">
         <% var path1 = "/users/" + request._id ; %>
         <li class="btn btn-default btn-lg btn-block mt-3"><a href = "<%= path1 %>"><%= request.firstname %><span> <%= request.lastname %></span></a></li>
         </div>
         <% var path = "/users/" + currentUser._id + "/friendRequests/" + request._id; %>
         <div class = "col-md-6">
         <li class="btn btn-default btn-lg btn-block mt-3"><a href="<%= path %>">Accept Request</a></li>
         </div>
     </div>    

<% }); %>
<% include ./partials/footer %>