<% include ./partials/header %>
<h1>Search Results</h1>


<% var flag = 0;
users.forEach(function(user) { 
flag = 1 ; %>
         
     <div>
         <% var path1 = "/users/" + user._id ; %>
         <li class="btn btn-default btn-lg btn-block mt-3"><a href = "<%= path1 %>"><%= user.firstname %><span> <%= user.lastname %></span></a></li>
     </div>    

<% }); 
if(flag == 0) {
%>
<h3>No users match that query, please try again!</h3>
<% } %>
<% include ./partials/footer %>

