body {
    background-color: #0074D9;
    color: white;
}
.sitehead{
    margin-left: 50px;
}
h3{
    margin-top: 50px;
}



.footer{
    margin-top: 175px;
}

.formcon{
    margin-top: 250px;
}

.formmar{
    color : black;
}

